*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--colorPrimary);
    color: var(--textColor);

}

.body__wrapper {
    overflow-x: hidden;
}
