.navigation{
    width: 95rem;
    height: 4rem;
    margin: 3rem auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--colorTetiary);

    font-size: 1.2rem;
    font-weight: medium;

    @media  screen and (max-width: 64em) {
       width: 80%;   
    }


    &__childs {
        width: 16rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > * {
            cursor: pointer;
        }

        &--language{
            display: flex;

            @media  screen and (max-width: 64em) {
                display: none;
            }
        }
    }
}